body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    background-image: url('/Images/Home_image.jpg'); /* Replace with your background image path */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set to full viewport height */
    display: flow;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons-container {
    max-width: 400px;
    width: 100%; /* Take full width */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box; /* Include padding in width */
    text-align: center; /* Center text content */
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-group {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
}

.sample-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.primary-button {
    background-color: #4caf50;
    color: white;
}

.secondary-button {
    background-color: #008CBA;
    color: white;
}

.danger-button {
    background-color: #f44336;
    color: white;
}

.sample-button:hover {
    background-color: #45a049;
}

/* Styles for the heading */
h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
